@import "tailwindcss";

/* Custom scrollbar for plant list */
.plant-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.plant-scrollbar::-webkit-scrollbar-thumb {
  background: #A7E9AF;
  border-radius: 8px;
  border: 2px solid #1B2B2B;
}
.plant-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #66bb6a;
}
.plant-scrollbar-main::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
.plant-scrollbar-main::-webkit-scrollbar-thumb {
  background: #a7e9af00;
  border-radius: 8px;
  border: 2px solid #1b2b2b00;
}
.plant-scrollbar-main::-webkit-scrollbar-thumb:hover {
  background: #66bb6a00;
}
/* Hides scrollbar but allows scrolling */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Plant loader animation */
@keyframes grow {
  0% {
    transform: scaleY(0.3);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.3);
  }
}

/* Notification animation */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out forwards;
}



